// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Buttons
// -------------------------------------------------------------

@mixin button-default {
  appearance: none;
  border: 0;
  border-radius: 3px;
  display: block;
  float: left;
  font-weight: 900;
  letter-spacing: .030em;
  text-align: center;
  text-decoration: none;
  width: auto;
  object,
  img,
  svg {
    border: none;
    float: left;
    margin: 0;
    padding: 0;
  }
  .icon {
    float: left;
    line-height: inherit;
    width: auto;
  }
}

@mixin button {
  @include button-default;
}

@mixin button-shop {
  @include button-default;
  font-size: 12px;
  line-height: 32px;
  padding: 0 16px;
  .icon {
    height: 24px;
    margin: 4px 0;
    &.float-left { margin-right: 8px; }
    &.float-right { margin-left: 8px; }
  }

  // Mobile
  // -------------------------------------------------------------
  @media #{$mobile} {
    font-size: 12px;
    .icon { margin: 0; }
  }
}

@mixin button-s {
  @include button-default;
  @include font-size-s;
  font-size: 14px;
  padding: 8px 16px;
  .icon {
    height: 24px;
    margin: 4px 0;
    &.float-left { margin-right: 8px; }
    &.float-right { margin-left: 8px; }
  }

  // Mobile
  // -------------------------------------------------------------
  @media #{$mobile} {
    font-size: 14px;
    .icon { margin: 0; }
  }
}

@mixin button-m {
  @include button-default;
  @include font-size-m;
  font-size: 16px;
  padding: 10px 20px;
  .icon {
    height: 32px;
    margin: 4px 0;
    &.float-left { margin-right: 10px; }
    &.float-right { margin-left: 10px; }
  }

  // Mobile
  // -------------------------------------------------------------
  @media #{$mobile} {
    font-size: 16px;
    .icon { margin: 0; }
  }
}

@mixin button-l {
  @include button-default;
  @include font-size-l;
  font-size: 16px;
  padding: 12px 24px;
  .icon {
    height: 40px;
    margin: 4px 0;
    &.float-left { margin-right: 12px; }
    &.float-right { margin-left: 12px; }
  }

  // Mobile
  // -------------------------------------------------------------
  @media #{$mobile} {
    font-size: 16px;
    .icon { margin: 0; }
  }
}

// Classes
// -------------------------------------------------------------
.button       { @include button; }
.button-shop  { @include button-shop; }
.button-s     { @include button-s; }
.button-m     { @include button-m; }
.button-l     { @include button-l; }
