// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Fonts
// -------------------------------------------------------------

// Imports
@import url("https://use.typekit.net/sch6dmk.css");

// Adobe Fonts
$mono: "Courier New", Courier, monospace !default;
$sans: sofia-pro, "Segoe UI", Tahoma, Verdana, sans-serif !default;
$serif: Times, Georgia, serif !default;
