// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Palettes
// -------------------------------------------------------------

// Transparent
// -------------------------------------------------------------
$transparent: rgba(255, 255, 255, 0) !default;

// White
// -------------------------------------------------------------
$white: rgba(255, 255, 255, 1) !default;

// Shadow (black-900)
// -------------------------------------------------------------
$shadow: rgba(16, 24, 32, .1) !default;

// Black
// -------------------------------------------------------------
// https://www.colorhexa.com/101820
// https://icolorpalette.com/color?q=101820
// https://noeldelgado.github.io/shadowlord/#101820

$black-000: #f8f9f9 !default;
$black-100: #dee0e1 !default;
$black-200: #c5c7c9 !default;
$black-300: #abaeb1 !default;
$black-400: #919598 !default;
$black-500: #777c80 !default;
$black-600: #5d6368 !default;
$black-700: #444a50 !default;
$black-800: #2a3138 !default;
$black-900: #101820 !default; // Primary
