// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Social Networks
// -------------------------------------------------------------

$class: "social_networks";

.#{$class} {
  float: left;
  .#{$class}-box {
    float: left;
    padding: 0px 16px 16px 0;
    .#{$class}-item {
      float: left;
      padding: 16px 16px 16px 0;
    }
  }
}

// Mobile
// -------------------------------------------------------------
@media #{$mobile} {
  .#{$class} {
    .#{$class}-box {
      padding: 0px 16px 16px 0;
      .#{$class}-item {
        padding: 0px 16px 16px 0;
      }
    }
  }
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$l} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$xl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$xxl} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-row {
      }
      .#{$class}-item {
      }
    }
  }
}
