// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Colours
// -------------------------------------------------------------

// Transparent
// -------------------------------------------------------------
.transparent-bg { background-color: transparent !important; }
.transparent-cl { background-color: transparent !important; }

// White
// -------------------------------------------------------------
.white-bg { background-color: $white !important; }
.white-cl { color: $white !important; }

// Black
// -------------------------------------------------------------
.black-000-bg { background-color: $black-000 !important; }
.black-100-bg { background-color: $black-100 !important; }
.black-200-bg { background-color: $black-200 !important; }
.black-300-bg { background-color: $black-300 !important; }
.black-400-bg { background-color: $black-400 !important; }
.black-500-bg { background-color: $black-500 !important; }
.black-600-bg { background-color: $black-600 !important; }
.black-700-bg { background-color: $black-700 !important; }
.black-800-bg { background-color: $black-800 !important; }
.black-900-bg { background-color: $black-900 !important; }

.black-000-cl { color: $black-000 !important; }
.black-100-cl { color: $black-100 !important; }
.black-200-cl { color: $black-200 !important; }
.black-300-cl { color: $black-300 !important; }
.black-400-cl { color: $black-400 !important; }
.black-500-cl { color: $black-500 !important; }
.black-600-cl { color: $black-600 !important; }
.black-700-cl { color: $black-700 !important; }
.black-800-cl { color: $black-800 !important; }
.black-900-cl { color: $black-900 !important; }
