// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Cursors
// -------------------------------------------------------------

.cursor-crosshair { cursor: crosshair !important; }
.cursor-handle    { cursor: move !important; }
.cursor-move      { cursor: move !important; }
