// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Displays
// -------------------------------------------------------------

.display-none         { display: none !important; }
.display-block        { display: block !important; }
.display-inline       { display: inline !important; }
.display-inline-block { display: inline-block !important; }
