// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Font Families
// -------------------------------------------------------------

.font-family-mono   { font-display: swap !important; font-family: $mono !important; }
.font-family-sans   { font-display: swap !important; font-family: $sans !important; }
.font-family-serif  { font-display: swap !important; font-family: $serif !important; }
