// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File: Misc
// -------------------------------------------------------------

// html {
//   scroll-behavior: smooth !important;
// }

.noscroll {
  height: 0 !important;
  width: 0 !important;
  overflow: hidden !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  touch-action: none !important;
}

.headroom {
  will-change: transform !important;
  transition: transform 300ms linear !important;
}

.headroom--pinned {
  transform: translateY(0%) !important;
}

.headroom--unpinned {
  transform: translateY(-100%) !important;
}

.mailer-lite {
  width: 100%;
  h4 {
    font-family: $mono !important;
  }
  input.form-control {
    width: 512px !important;
    margin: 0 !important;
    float: left;
  }
  button {
    margin: 0 !important;
    padding: 0 !important;
    float: right;
  }
  .ml-form-embedWrapper,
  .embedForm {
    background-color: red !important;
    width: 512px !important;
    padding: 0 !important;
  }

  form {
    float: left;
    width: 100%;
    * {
      float: left;
      width: 1024px;
    }
  }

  .ml-form-embedBody,
  .ml-form-embedBodyHorizontal,
  .row-form {
    padding: 0 !important;
  }
}
